@import "https://fonts.googleapis.com/css?family=Open+Sans";


header {
  font-size: 2rem
}

main {
  min-height: 80%
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1rem;
  padding: 0;
}