@import "https://fonts.googleapis.com/css?family=Open+Sans";


header {
  font-size: 2rem
}

main {
  min-height: 80%
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1rem;
  padding: 0;
  max-width: 800px;
}

.row {
  display: flex;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}