@import "https://fonts.googleapis.com/css?family=Open+Sans";

body {
  font-family: 'Helvetica', sans-serif;
  margin: 1rem;
  padding: 0;
}

.blurb p {
  max-width: 30rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
  padding: 2em;
}