@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://unpkg.com/basscss@8.0.2/css/basscss.min.css";


body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  padding: 0px;
}

.large_logo {
  margin-top: 20vh;
  height:50vh;
}